
<h3>Order a sample</h3>

<form action="MAILTO:grantwenzlau@gmail.com" method="post" enctype="text/plain">
	<div class="item">
		<img src="http://placehold.it/300x300">
		<input type="checkbox" name="pool" value="1">
	</div>
	<hr>
	<div class="item">
		<img src="http://placehold.it/300x300">
		<input type="checkbox" name="couch" value="2">
	</div>
	<hr>
	<div class="item">
		<img src="http://placehold.it/300x300">
		<input type="checkbox" name="globe" value="3">
	</div>
	<hr>
	<div class="item">
		<img src="http://placehold.it/300x300">
		<input type="checkbox" name="paris" value="4">
	</div>
	<hr>
	<div class="item">
		<img src="http://placehold.it/300x300">
		<input type="checkbox" name="lemonade" value="5">
	</div>
	<hr>
	<div class="item">
		<img src="http://placehold.it/300x300">
		<input type="checkbox" name="silk" value="6">
	</div>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>