
<h3>Order a sample</h3>

<form action="MAILTO:grantwenzlau@gmail.com" method="post" enctype="text/plain">
	<div class="item">
		<img src="http://farm4.staticflickr.com/3812/12070735724_1da1cda972_b.jpg">
		<input type="checkbox" name="pool" value="1">
	</div>
	<hr>
	<div class="item">
		<img src="http://37.media.tumblr.com/81f9e143b5225d40733ca68906960bf5/tumblr_mjez45Cpu51qdwl9jo1_500.jpg">
		<input type="checkbox" name="couch" value="2">
	</div>
	<hr>
	<div class="item">
		<img src="http://37.media.tumblr.com/8a4fb68f24ba33aa4836e8989f08914f/tumblr_mw55e6jQvG1saod7ko1_1280.jpg">
		<input type="checkbox" name="globe" value="3">
	</div>
	<hr>
	<div class="item">
		<img src="http://31.media.tumblr.com/5f9cbd43475bb48e07ef6dcfbdc34aa3/tumblr_mq7gbmw7sZ1qm06abo1_1280.jpg">
		<input type="checkbox" name="paris" value="4">
	</div>
	<hr>
	<div class="item">
		<img src="http://24.media.tumblr.com/f7b99e1c930c9dc9790a7812b95098f7/tumblr_n3qmq9C5ko1r4dewjo1_1280.jpg">
		<input type="checkbox" name="lemonade" value="5">
	</div>
	<hr>
	<div class="item">
		<img src="http://24.media.tumblr.com/cf6125959588ab34ccd893ba8d600230/tumblr_n57jy98i4p1ss0l6co1_1280.jpg">
		<input type="checkbox" name="silk" value="6">
	</div>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>