<div class="sample-bottom">
<% for line_item in @cart.line_items %>
      <%= image_tag line_item.item.image(:thumb) %>
<% end %>
<% if @cart.line_items.count == 5 %>
<%= link_to "--> Checkout -->", new_order_path %>
<% else %>
<% end %>
</div>