
<% for item in @items %>
  <div>
    <h3>
    <%= image_tag item.image %>
    <%= link_to (item.name), item %>
    </h3>
      <%= link_to "Sample It", line_items_path(:item_id => item), :method => :post %>
    </div>
  <% end %>